.calculation{
    border-radius: 10px;
    height: 100%;
    background-color: white;
    margin: 10em 10%;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    padding: 24px 20px;
}
.calculation h1 {
    padding: 40px 0px;
}
.calculation .object{
    width: 100%;
    display: flex;
    align-items: center;
}
.calculation .wrapp {
    font-size: 20px;
    line-height: 19px;
    text-align: start;
}
.calculation .object .col-4{
    display: flex;
    align-content: center;
}
.calculation .object .col-4 img{
    max-width: 100%;
}
.calculation .object .col-5 .custom-control {
    margin: 34px 15px;
}
.calculation .object .col-5 .custom-control .custom-control-label {
    line-height: 24px;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #7FFFD4 !important;
    background-color: #7FFFD4 !important;
}
.calculation .credit{
    font-size: 17px;
    line-height: 19px;
    text-align: start;
}
.calculation .wrapp span{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 26px;
}
.more-width {
    width: 110%;
}
.period-wheels{
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 17px;
}
button {
    font-size: 20px !important;
}
