.service-header {
    background-color: black;   
    display: flex;
    justify-content: space-between;
}

.row{
    width: 100%;
    margin: 0;
}

.service-header img{
    width: 89px;
    height: 66px;
    margin-left: 3rem;
}

.service-header .links{
    text-decoration: none;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-right: 4rem;
}

.service-header .links .support-link{
    text-decoration: none;
}

.service-header .links .another-link{
    text-decoration: none;
    padding-right: 2rem;
}